{% extends "clients/base.html" %}
{# % load static % #}

{% block content %}
<main class="d-flex flex-nowrap  vh-100 vw-100 m-0 p-0" 
  style="background-image: 
    url('/static/images/stage-fireworks.jpg');
    background-size: cover; 
    background-position: center center;">
    <!-- url({% static 'images/stage-fireworks.jpg' %}); -->
    <!-- <aside></aside> -->
      <div class="min-vh-100 mh-100 overflow-auto flex-grow-1 p-3 text-white text-center" 
      style="background-color: #0006;">
      <h1>Միջոցառումների կազմակերպում</h1>
        <h2 class="fs-1 fw-bold">Հաճախորդի գրանցում 
          միջոցառման անցկացման հայտ ներկայացնելու համար</h2>
        <div class="text-start d-inline-block" 
          style="@include media-breakpoint-up(md) {'width: 50%;'}">
            <p class="fs-5">Ներկայացրեք ձեր անձնական տվյալները</p>

              <form action="{% url 'client_create' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="mb-3 form-check form-check-inline">
                  <input type="checkbox" required class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1"
                  >Համաձայնվել և ընդունել կայքէջից օգտվելու պայմաններն ու պահանջները</label>
                </div>
                <div class="d-grid gap-2 mx-auto mt-4 mb-4">
                  <input type="submit" class="btn btn-success fw-bolder text-wrap" 
                  value="Գրանցվել որպես պատվիրատու">
                </div>
              </form>
        </div>
      </div>
    </main>

{% endblock content %}