{% extends "clients/base.html" %}

{% block content %}
<main class="d-flex flex-nowrap  vh-100 vw-100 m-0 p-0">
<!-- <aside></aside> -->

  <h1 class="visually-hidden">Միջոցառումների կազմակերպում</h1>
  {% include "clients/sidebar.html" %}

  <div class="min-vh-100 mh-100 overflow-auto flex-grow-1 p-3">
          <p class="fs-1 fw-bold">Պատվիրատուի անձնական վահանակ</p>
          <h2>Պատվիրված միջոցառումներ</h2>
          <div class="">
            <table class="table table-responsive table-bordered border-primary">
              <thead class="table-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Ամսաթիվ</th>
                  <th scope="col">Իրադարձություն</th>
                  <th scope="col">Անցկացման վայր</th>
                  <th scope="col">Բաղադրիչներ</th>
                </tr>
              </thead>
              <tbody>
                {% for order in orders %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{ order.date }}</td>
                  <td class="text-capitalize">{{ order.get_category_display }} 
                    <a href="{% url 'discard_order' order.pk %}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                    >ավելին</a></td>
                  <td>{{ order.venue }}</td>
                  <td>{% for show in order.shows.all %}{{ show }}, {% endfor %}</td>
                </tr>
              {% empty %}
              <tr>
                <th scope="row">0</th>
                <td class="fs-3" colspan="4">Սպասվող միջոցառման պատվերների ընթացիկ 
                  հայտարարությունները չեն գտնվել: Միգուցե ցանկանում եք <a href="{% url 'ordering' %}" class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                  >ավելացնել նոր հայտ</a>: </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
  </div>
</main>
{% endblock content %}