{% extends "clients/base.html" %}

{% block content %}
<main class="d-flex flex-nowrap  vh-100 vw-100 m-0 p-0">
  <!-- <aside></aside> -->

  {% include "clients/sidebar.html" %}

  <div class="min-vh-100 mh-100 overflow-auto flex-grow-1 p-3">
      <h1 class="text-center">Միջոցառումների կազմակերպում</h1>
            <p class="fs-3 fw-bold">Պատվերի մանրամասները</p>
      <p class="fs-5">Ձեր պահանջները</p>
          
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Իրադարձություն</div>
                <h2 class="fs-1 fw-bold text-center text-uppercase">{{ order.get_category_display }}</h2>
              </div>
            </li>
            <li class="list-group-item">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Թարմացվել է որոշ ժամանակ առաջ</div>
                {{ order.modified | timesince }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Անցկացման վայր </div>
                  {{ order.venue }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Ամսաթիվ </div>
                at {{ order.date }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="ms-2 me-auto">
                <div class="fw-bold text-capitalize">բյուջե</div>
                {{ order.budget_min }} - {{ order.budget_max }} dram
              </div>
            </li>
            <li class="list-group-item">
              <div class="ms-2 me-auto">
                <div class="fw-bold text-capitalize">մասնակիցների թիվը</div>
                {{ order.participants }} մասնակից
              </div>
            </li>
            <li class="list-group-item">
              <div class="ms-2 me-auto">
                <div class="fw-bold text-capitalize">երեխայի, բալիկի համար է ?</div>
                {% if order.children %} Ներկա կլինեն երեխաներ։
                {% else %}Կհավաքվեն միայն մեծահասակները:{% endif %}
              </div>
            </li>
            <li class="list-group-item">
              <div class="ms-2 me-auto">
                <div class="fw-bold text-capitalize">Կորպորատիվ է</div>
                {% if order.corporate %} Կորպորատիվ միջոցառում է {{ order.company }} ընկերությունում
                {% else %}Ոչ{% endif %}
              </div>
            </li>
            <li class="list-group-item">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Նշված լրացուցիչ պահանջներ, մանրամասներ, հատուկ ցանկություններ</div>
                {{ order.details }}
              </div>
            </li>
            <li class="list-group-item">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
                Content for list item
              </div>
            </li>
            <li class="list-group-item">
              <div class="ms-2 me-auto">
                <div class="fw-bold">Subheading</div>
                Content for list item
              </div>
            </li>

          </ul>
          <h2>Միջոցառում show tsragir</h2>
          <div class="list-group mb-5">
            {% for show in order.shows.all %}
            <a href="#" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1 text-wrap">{{ show }}</h5>
                <small class="text-body-secondary">3 days ago</small>
              </div>
              <p class="mb-1 text-wrap">{{ show.description }} content in a paragraph.</p>
              <small class="text-body-secondary text-wrap">And some muted small print.</small>
            </a>
            {% endfor %}
          </div>

          <form action="{% url 'discard_order' order.pk %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="discard" value="{{ order.pk }}">
            <div class="form-check">
              <input type="checkbox" name="confirmation" class='form-check-input' id="confirmation" required>
              <label class="form-check-label" for="confirmation">
                <strong>Confirmation!</strong> Delete this order
              </label>
            </div>
            <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-4">
              <input type="submit" value="Delete" class="btn btn-lg btn-danger">
            </div>
          </form>
  </div>
</main>
{% endblock content %}