{% extends "clients/base.html" %}
{# % load static % #}

{% block content %}
<main style="min-height: 100vh; 
      min-width: 100vw; 
      margin: 0; 
      background-image: url('static/images/wedding-ballroom.webp');
      background-size: cover; 
      background-position: center center;">

{% comment %}
      background-image: url({% static 'images/wedding-ballroom.webp' %});
                {% url 'success' %}

  <div class="m-4 mt-0 p-4">
    {% include "clients/alerts.html" %}
  </div>
{% endcomment %}

  {% if messages %}
    {% for message in messages %}
      {% include "clients/alert.html" %}
    {% endfor %}
  {% endif %}
  <div class="m-5 mt-0 py-5 px-2" style="background-color: #fffb; width: fit-content;">
    <h1>Միջոցառումների կազմակերպում</h1>
    <nav>
            <ul>
                    {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'login' %}">Մուտք պատվիրատուի կառավարման վահանակ</a></li>
                    <li><a href="{% url 'client_create' %}">Գրանցում</a></li>
                    {% else %}
                    <li><a href="{% url 'dashboard' %}">Պատվիրատուի կառավարման վահանակ</a></li>
                    <li><a href="{% url 'ordering' %}">Պատվիրել միջոցառում</a></li>
                    {% endif %}
            </ul>
    </nav>
  </div>
</main>
{% endblock content %}