{% extends "clients/base.html" %}

{% block content %}
<main class="d-flex flex-nowrap  vh-100 vw-100 m-0 p-0">
    <!-- <aside></aside> -->
    
      {% include "clients/sidebar.html" %}
    
      <div class="min-vh-100 mh-100 overflow-auto flex-grow-1 p-3 bg-primary bg-gradient text-white">
        <h1 class="fs-1 fw-bold">Միջոցառումների կազմակերպում - Հաճախորդի վահանակ - պատվիրում</h1>
              <p class="fs-5">Ներկայացրեք ձեր պահանջները միջոցառման համար</p>

              <form action="{% url 'ordering' %}" method="post">
                {% csrf_token %}
                {{ form.as_div }}
                <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-4">
                  <input type="submit" class="btn btn-success" 
                    value="Հանձնել դիմումը">
                </div>
              </form>
      </div>
    </main>

{% endblock content %}